In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("test_df/data.csv")

In [6]:
df.head()

,co2_value,temp_value,light_value,humidity_value,time,room,label
0,465.0,22.80,165.0,52.40,2013-08-24T02:04:57.000+03:00,644,0
1,495.0,23.94,97.0,45.34,2013-08-24T02:05:08.000+03:00,413,0
2,426.0,24.81,2208.0,49.10,2013-08-24T02:05:26.000+03:00,668,0
3,439.0,23.11,4.0,53.51,2013-08-24T02:05:26.000+03:00,558,0
4,410.0,23.56,4.0,51.25,2013-08-24T02:05:27.000+03:00,448,0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27049 entries, 0 to 27048
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   co2_value       27049 non-null  float64
 1   temp_value      27049 non-null  float64
 2   light_value     27049 non-null  float64
 3   humidity_value  27049 non-null  float64
 4   time            27049 non-null  object
 5   room            27049 non-null  object
 6   label           27049 non-null  int64
dtypes: float64(4), int64(1), object(2)
memory usage: 1.4+ MB

In [7]:
data = pd.read_csv("test_df/sensor-data.csv")

In [8]:
data.head()

,co2_value,temp_value,light_value,humidity_value,time,room,label
0,387.0,22.62,252.0,52.75,2013-08-23 23:04:53,511,0
1,579.0,24.37,176.0,49.90,2013-08-23 23:04:57,656A,1
2,465.0,22.80,165.0,52.40,2013-08-23 23:04:57,644,0
3,175.0,23.32,191.0,50.32,2013-08-23 23:04:57,648,0
4,434.0,24.08,11.0,49.94,2013-08-23 23:05:01,564,1

In [19]:
data["time"] = data["time"].apply(lambda x: pd.to_datetime(x).strftime('%Y-%m-%dT%H:%M:%S.000+03:00'))

In [20]:
data.head()

,co2_value,temp_value,light_value,humidity_value,time,room,label
0,387.0,22.62,252.0,52.75,2013-08-23T23:04:53.000+03:00,511,0
1,579.0,24.37,176.0,49.90,2013-08-23T23:04:57.000+03:00,656A,1
2,465.0,22.80,165.0,52.40,2013-08-23T23:04:57.000+03:00,644,0
3,175.0,23.32,191.0,50.32,2013-08-23T23:04:57.000+03:00,648,0
4,434.0,24.08,11.0,49.94,2013-08-23T23:05:01.000+03:00,564,1

In [22]:
data.to_csv("sensor-data-new.csv",index=False)