In [1]:
import pandas as pd
df = pd.read_csv("test_df/test-data-sampled.csv")
df.head()

,co2_value,temp_value,light_value,humidity_value,time,room,label
0,387.0,22.62,252.0,52.75,2013-08-23 23:04:53,511,0
1,579.0,24.37,176.0,49.90,2013-08-23 23:04:57,656A,1
2,434.0,24.08,11.0,49.94,2013-08-23 23:05:01,564,1
3,423.0,23.11,3.0,53.51,2013-08-23 23:05:01,558,0
4,538.0,25.26,102.0,46.49,2013-08-23 23:05:05,656B,1

In [2]:
df["time"] = df["time"].apply(lambda x: pd.to_datetime(x).strftime('%Y-%m-%dT%H:%M:%S.000+03:00'))

In [3]:
df.head()

,co2_value,temp_value,light_value,humidity_value,time,room,label
0,387.0,22.62,252.0,52.75,2013-08-23T23:04:53.000+03:00,511,0
1,579.0,24.37,176.0,49.90,2013-08-23T23:04:57.000+03:00,656A,1
2,434.0,24.08,11.0,49.94,2013-08-23T23:05:01.000+03:00,564,1
3,423.0,23.11,3.0,53.51,2013-08-23T23:05:01.000+03:00,558,0
4,538.0,25.26,102.0,46.49,2013-08-23T23:05:05.000+03:00,656B,1

In [8]:
df = df.drop(["label"], axis=1)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59097 entries, 0 to 59096
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   co2_value       59097 non-null  float64
 1   temp_value      59097 non-null  float64
 2   light_value     59097 non-null  float64
 3   humidity_value  59097 non-null  float64
 4   time            59097 non-null  object
 5   room            59097 non-null  object
dtypes: float64(4), object(2)
memory usage: 2.7+ MB

In [10]:
df.to_csv("test-data-sampled.csv",index=False)